#issue-grid {
  ol {
    margin: 0;
    padding: 10px 0 0 0 ;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    padding: 5px;
    margin: 0 10px 10px 0;
    width: 170px;
    list-style-type: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    max-height: 99px;
    overflow-y: scroll;

    p {
      margin-top: 0;
    }
  }
}